body {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin: 40px;
  flex-direction: column;
  background-color: #f38181;
}
h1 {
  display: flex;
  justify-content: center;
  color: red;
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Alfa Slab One', cursive;
  color: lightgray;
  text-align: center;
}
.controls {
  display: flex;
  justify-content: center;
}
article {
  /* display: flex;
  justify-content: center; */
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Alfa Slab One', cursive;
  color: lightgray;
  text-align: center;
}
