body {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin: 40px;
  flex-direction: column;
  background-image: url('/Users/starnesharussell/Downloads/Untitled design (28).png');
}
.gameboard {
  height: 360px;
  width: 360px;
  display: flex;
  background-color: #dd3131;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  border-radius: 3px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 5px 5px 5px black;
}
h1 {
  display: flex;
  justify-content: center;
  color: red;
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Alfa Slab One', cursive;
  color: blue;
  text-align: center;
}
div {
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 6px;
  box-shadow: 5px 5px 5px black;
}
div:hover {
  background-color: #f1aeae;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.play1 {
  pointer-events: none;
}
.play2 {
  pointer-events: none;
}
