.gameboard {
  height: 360px;
  width: 360px;
  display: flex;
  background-color: #dd3131;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  border-radius: 3px;
  text-shadow: 2px 2px 4px #000000;
}
div {
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 6px;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin: 40px;
  flex-direction: column;
  /* background-image: url('/Users/starnesharussell/Downloads/Untitled design (23).png'); */
}
